/*

@AUTHOR - Nathan Víctor de Faria

*/
.btnss{
    background-color: blueviolet;
    border-radius:  10px 10px 10px 10px;
    border: solid black 5px;
    padding-bottom: 5%;
}
.form input {
    margin-top: 5%;
    padding: 0%;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    margin-left: 45%;
}
h3 {
    text-align: center;
    margin: 0% 10% 0% 10%;
    border: solid;
    color: blueviolet;
    border-radius: 10px 10px 10px 10px;
}
.btn {
    margin: 0% 10% 0% 10%
}
h1 {
    text-align: center;
    margin: 10% 10% 0% 10%;
    border: solid;
    color: blueviolet;
    border-radius: 10px 10px 10px 10px;
    /*padding-bottom: 10%;*/
}
.btn2 {
    margin: 1% 10% 0% 64%
}